.container {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    padding: 0 24px;
  }
  
  .h1 {
    margin-bottom: 0px;
  }
  
  .explain {
    font-size: 1.125rem;
    max-width: 1200px;
  }
  
  .divider {
    width: 50%;
    border-color: #78f881;
    opacity: 0.25;
  }
  
  .smallDivider {
    width: 50%;
    border-color: #78f881;
    margin-top: 64px;
    opacity: 0.25;
  }
  
  .nftBoxGrid {
    width: 1300px;
    max-width: 95vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-top: 28px;
    flex-wrap: wrap;
  }
  
  .nftBox {
    border-radius: 16px;
    border: 2px solid #F878CD;
    width: 25%;
    min-height: 200px;
    padding: 16px;
  }
  
  .optionSelectBox {
    border-radius: 16px;
    border: 2px solid #F878CD;
    width: 100%;
    min-height: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
  }
  
  .selectBoxTitle {
    font-size: 1.75rem;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .selectBoxDescription {
    color: #6FE99A;
    margin-top: 16px;
  }
  
  /* Between 1200 and 800 */
  @media only screen and (min-width: 800px) and (max-width: 1200px) {
    .nftBox {
      width: 100%;
      margin-top: 16px;
    }
  }
  
  /* beneath 800
  */
  @media only screen and (max-width: 800px) {
    .nftBoxGrid {
      justify-content: center;
    }
    .nftBox {
      width: 100%;
      margin-top: 16px;
    }
    .optionSelectBox {
      width: 90%;
      margin-top: 16px;
    }
  }
  
  .tokenGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1%;
    width: 1200px;
    max-width: 95vw;
    flex-wrap: wrap;
    margin: 16px 0;
  }
  
  .tokenItem {
    width: 35%;
    height: 120px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #78f881;
    gap: 16px;
  }
  
  .tokenLabel {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    color: #78f881;
  }
  
  /* Second tokenLabel item */
  
  .tokenValue {
    font-size: 1.3rem;
    margin-top: 8px;
    margin-bottom: 0px;
    font-weight: 500;
  }
  
  /* On Mobile, make tokenGrid 100% width */
  @media only screen and (max-width: 850px) {
    .tokenItem {
      width: 100%;
      margin-top: 12px;
    }
  }
  
  /* Screen less than 630, then hide .center */
  @media only screen and (max-width: 630px) {
    .center {
      display: none;
    }
  }
  
  .spacerTop {
    margin-top: 16px;
  }
  
  .bigSpacerTop {
    margin-top: 32px;
  }
  
  .spacerBottom {
    margin-bottom: 16px;
  }
  
  .detailPageHr {
    margin-top: 0px;
    margin-bottom: 32px;
  }
  
  .nftMedia {
    width: 25%;
    max-height: 300px;
    border-radius: 15px;
  }
  